<link rel="stylesheet" href="/scripts/components/layout.css">

<template id="menu-item">
  <li>
    <a></a>
  </li>
</template>

<aside>
  <cite>
    🚧 WIP. Coming soon. 🐿
    <!-- FYI: <a href="https://2018.jsconf.asia">HTTP/2 Node.js workshop</a> at JSConf.Asia. -->
    Follow <a href="https://twitter.com/sebdeckers">@sebdeckers</a> on Twitter.
    📣
  </cite>
</aside>

<nav>
  <div role="menubar">
    <a id="brand" href="/">Commons Host</a>
    <ul id="topics"></ul>
    <ul id="authentication"></ul>
  </div>
</nav>

<slot></slot>

<footer>
</footer>
