@import '/styles/configuration.css';
@import '/styles/fonts.css';

header {
  margin: 20px 0 0 0;
  & > h1 {
    text-align: center;
    max-width: var(--max-width);
    padding: 0 8px;
    margin: 0 auto;
    font-family: var(--font-stack-narrow);
    font-weight: bold;
    font-size: 48px;
    color: black;
  }
  & > p {
    font-size: 126px;
    margin: 0;
    text-align: center;
  }
}

main {
  max-width: var(--max-width);
  padding: 0 8px;
  margin: 0 auto;
  text-align: center;
  & > p {
    font-family: var(--font-stack-modern);
    font-size: 16px;
    &:last-of-type {
      margin: 40px 0;
    }
    & > a {
      background-color: #7ED321;
      border: 2px solid black;
      font-family: var(--font-stack-narrow);
      font-weight: bold;
      font-size: 24px;
      padding: 3px 40px;
      color: white;
      text-decoration: underline;
      cursor: pointer;
      &:active {
        color: #7ED321;
        background-color: white;
      }
    }
  }
}

@media (max-width: 500px) {
  main > ol {
    grid-template-columns: auto;
  }
}
