<app-layout subtitle="Password Reset">
  <link rel="stylesheet" href="/scripts/components/authentication/password-reset.css">
  <header>
    <h1>Forgot Your Password?</h1>
  </header>
  <main>
    <p>Enter your email address to receive a magical reset link via email.</p>
    <form>
      <div>
        <label for="emai">Username or Email Address</label>
        <input id="email" type="text" required autofocus placeholder="john.wick@example.com">
      </div>
      <p id="progress" hidden>
        <strong>Sending reset link via email...</strong>
      </p>
      <p id="problem" hidden>
        <output></output>
      </p>
      <p>
        <button type="submit">Send Password Reset Email</button>
      </p>
      <p>
        Remember it after all? Go <a href="/login">Log In</a> right away.
      </p>
    </form>
  </main>
</app-layout>
